*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
marquee{
    height: 100px;
    letter-spacing: 20px;
}
abbr{
    background-color: #fff01d;
}
iframe{
    width: 500px;
    height: 900px;
}